body {
    background-color: lightblue;
}

table { width: 100%; } table, td, th { border: 1px solid black; }

a {
  color: blue;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

